<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>留言板</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

<div class="page-group">
    <div class="page page-current">
        <!-- 你的html代码 -->
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/create/" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                留言
            </a>
            <h1 class="title">我的留言</h1>
        </header>
        <div class="content">
            <!-- 这里是页面内容区 -->
            {% if messages %}
                {% for message in messages %}
                    <div class="card">
                        <div valign="bottom" class="card-header color-white no-border">姓名:{{ message.username }}--标题:{{message.title }}</div>
                        <div class="card-content">
                            <div class="card-content-inner">
								<p>{{ message.txt|linebreaks }}</p>
                                <p class="color-gray">发表于{{ message.time|date:'Y-m-d H:i:s' }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">{{ message.id }}</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">无数据</td>
                </tr>
            {% endif %}
        </div>
        <nav class="bar bar-tab">
            <a class="tab-item active" href="http://daydayup11.cn/">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item" href="/net163/">
                <span class="icon icon-me"></span>
                <span class="tab-label">网易评论</span>
            </a>
            <a class="tab-item" href="/job">
                <span class="icon icon-star"></span>
                <span class="tab-label">51job采集</span>
            </a>
            <a class="tab-item" href="/delete/">
                <span class="icon icon-settings"></span>
                <span class="tab-label">删除留言</span>
            </a>
        </nav>
    </div>
</div>

</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</html>