{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习网站库--梦想的雨季</title>
    <meta name="keywords" content="Mackxin">    <!-- 关键字搜索 -->
    <meta name="description" content="网站主要展示自己的学习成果和经验积累，不断的提升自己的知识完善自己">   <!-- 写自己网站的简介 -->
    <link rel="stylesheet" href="{% static '/StuApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/StuApp/css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/StuApp/css/main.css'%}"/>
</head>

<body>
<!-- 顶部导航栏开始 -->
<div id="nav-top">
<form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
  <input type="search" name="q" placeholder="搜索" required>
</form>
</div>
<div id="nav-top">
    <ul>
        <li><a target="_blank" href="http://weibo.com/xin20yan/home?leftnav=1">新浪微博</a></li>
        <li><a target="_blank" href="http://www.3bsou.com/">三百搜索</a></li>
        <li><a target="_blank" href="http://guge.suanfazu.com/">谷歌</a></li>
        <li><a target="_blank" href="https://github.com/">Github</a></li>
        <li><a target="_blank" href="/net163/">网易评论</a></li>
        <li><a href="/comment/">留言</a></li>
    </ul>
</div>
<!-- 顶部导航栏结束 -->

<div style="border-bottom:5px solid #000"></div>
<!-- logo和搜索开始 -->

    <!-- 导航标签页开始 -->
    <div class="container navbq">
        <div class="row">
            <div class="tab-content col-xs-12 col-md-12">
                <ul class="nav nav-tabs nav-justified" role="tablist" id="maintab">
                    <li role="presentation" class="active diyi"><a onmouseover='showPage("tab1","tab1.php")' href="#tab1"	aria-controls="home" role="tab" data-toggle="tab">常用网站</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab2","tab2.php")' href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">Web开发</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab3","tab3.php")' href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">前端论坛</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab4","tab4.php")' href="#tab4" aria-controls="settings" role="tab" data-toggle="tab">在线学院</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab5","tab5.php")' href="#tab5" aria-controls="profile" role="tab" data-toggle="tab">学习笔记</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab6","tab6.php")' href="#tab6" aria-controls="profile" role="tab" data-toggle="tab">电子公司</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab7","tab7.php")' href="#tab7" aria-controls="profile" role="tab" data-toggle="tab">博客空间</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab8","tab8.php")' href="#tab8" aria-controls="profile" role="tab" data-toggle="tab">工具集合</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab9","tab9.php")' href="#tab9" aria-controls="profile" role="tab" data-toggle="tab">PS学习</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab10","tab10.php")' href="#tab10" aria-controls="profile" role="tab" data-toggle="tab">娱乐视频</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab12","tab12.php")' href="#tab12" aria-controls="profile" role="tab" data-toggle="tab">常用购物</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab13","tab13.php")' href="#tab13" aria-controls="profile" role="tab" data-toggle="tab">嵌入式</a></li>
                    <li role="presentation"><a onmouseover='showPage("tab11","tab11.php")' href="#tab11" aria-controls="profile" role="tab" data-toggle="tab">访客网站</a></li>
                </ul>

                <div class="tab-content navbq2">
				{% for key,value in test %}
                    <div role="tabpanel" class="tab-pane active" id="{{ key }}">
                        <ul>
                            {% for get_li_name in  value%}
                                <li><a href="{{ get_li_name.URL }}" target="_blank">{{ get_li_name.Name }}</a></li>
                            {% empty %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </div>
				
            </div>
        </div>
    </div>

    <!-- 导航标签页结束 -->
    <footer>
        <div class="xin">关注微信号 鼠标移入扫码</div>
        <div class="lotus">
            <p><a href="http://yuhaitao.iok.la"><font color="white">梦想的雨季</font></a></p>
            <p>网站备案号:京ICP备17038013号 </p>
            <p>联系我：acer_yuhaitao@163.com</p>
        </div>
    </footer>

    <script type="text/javascript" src="{% static '/StuApp/js/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/StuApp/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){$('[data-toggle="tooltip"]').tooltip()});
    </script>
    <script type="text/javascript">      //这个代码是tab标签页鼠标移入时自动跳转的代码
    function showPage(tabId){
        $('#maintab a[href="#'+tabId+'"]').tab('show'); // 显示移入的tab页面
    }
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261128615'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +	"s11.cnzz.com/z_stat.php%3Fid%3D1261128615%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
