<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>txt</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
</head>
<body>

<div class="content">
    <form action="/txt/" method="post">
        {% csrf_token %}
        <div class="searchbar">
            <div class="search-input">
                <label class="icon icon-search" for="search"></label>
                <input type="search"  name='txt'  id='search' placeholder='输入关键字...'/>
            </div>
        </div>
    </form>

    {% for tmp in txt %}
        <div class="content-block-title">{{ tmp.date }}-{{ tmp.job }}-{{tmp.address}}-{{ tmp.wages }}-{{ tmp.jobname }}-{{ tmp.jobaddress }}</div>
        <div class="card">
            <div class="card-content">
                <div class="card-content-inner">{{tmp.jobtxt|linebreaks}}</div>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>