<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <title>网易云评论测试</title>
</head>
<body>
{% extends "suibase.html" %}
{% block content %}
<nav aria-label="Page navigation">
    <ul class="pager pagination-lg">
        {% if pagination.cur_page != 1 %}
            <li><a href="?cur_page=1">首页</a></li>
            <li>
                <a href="?cur_page={{ pagination.pre_page }}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
        {% endif %}
        {% for page_item in pagination.page_items %}
            {% if page_item == pagination.cur_page %}
                <li><a href="?cur_page={{ page_item }}">{{ page_item }}</a></li>
            {% else %}
                <li><a href="?cur_page={{ page_item }}">{{ page_item }}</a></li>
            {% endif %}
        {% endfor%}
        {% if pagination.cur_page != pagination.all_page %}
            <li>
                <a href="?cur_page={{ pagination.next_page }}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
            <li><a href="?cur_page={{ pagination.all_page }}">尾页</a></li>
            <li class="active">
                <a>第{{ pagination.cur_page }}页-共{{pagination.all_page }}页
                </a>
            </li>
            <li>
                <form class="form-inline" action="/net163" method="post">
                    {% csrf_token %}
                    <input style="width:80px;" type="number" name="num" value="{{ pagination.cur_page }}">
                    <input type="submit" value="提交">
                </form>
            </li>
        {% endif %}
    </ul>
</nav>
{% for txt in pagination.objs %}
    <table class="table">
        <tr>
            <td>
                <button type="button" class="btn-default btn-lg btn-block">
                    <blockquote class="blockquote-reverse">
                        <p class="text-left lead" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ txt.txt }}</p>
                        <footer>
                            <cite title="Source Title">
                                {{ txt.footer }}
                            </cite>
                        </footer>
                    </blockquote>
                </button>
            </td>
        </tr>
    </table>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pager pagination-lg">
        {% if pagination.cur_page != 1 %}
            <li><a href="?cur_page=1">首页</a></li>
            <li>
                <a href="?cur_page={{ pagination.pre_page }}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
        {% endif %}
        {% for page_item in pagination.page_items %}
            {% if page_item == pagination.cur_page %}
                <li><a href="?cur_page={{ page_item }}">{{ page_item }}</a></li>
            {% else %}
                <li><a href="?cur_page={{ page_item }}">{{ page_item }}</a></li>
            {% endif %}
        {% endfor%}
        {% if pagination.cur_page != pagination.all_page %}
            <li>
                <a href="?cur_page={{ pagination.next_page }}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
            <li><a href="?cur_page={{ pagination.all_page }}">尾页</a></li>
            <li class="active">
                <a>第{{ pagination.cur_page }}页-共{{pagination.all_page }}页
                    <form action="/net163" method="post">
                        {% csrf_token %}
                        <input type="number" name="num" value="{{ pagination.cur_page }}">
                        <input type="submit" value="提交">
                    </form>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
</body>
</html>